@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.container {
  max-width: 1090px;
  margin: 0px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.row {
  @include ms-Grid-row;
  //@include ms-fontColor-white;
  color: black;
  background-color: $ms-color-themeLight;
  padding: 20px;
}

.column {
  @include ms-Grid-col;
  @include ms-lg10;
  @include ms-xl8;
  @include ms-xlPush2;
  @include ms-lgPush1;
}

.title {
  @include ms-font-xl;
}

.subtitle {
    @include ms-font-l;
}

// <table> for the list of cases in CasesDashboard

.casesTable {
    width: 100%;
    border-spacing: 0;
}

.casesTable tr td, .casesTable th {
    border-bottom: 1px solid black;
}

.casesTable th {
    text-align: left;
}

.casesTable td, th {
    padding: 10px;
}

// <table> for multi-select-checkboxes fields

.multiSelectFieldTable td {
    border-spacing: 3px;
    padding-right: 40px;
}

// Custom font styling
.stepTitle {
  font-size: 24px;
  font-family: 'Segoe UI Semibold';
}

// Styling for Header

.headercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.headertitlecontainer {
  flex-direction: column;
  margin-left: 64px;
}
.headerfortschritt {
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  margin-top: 8px;
}
.headerbutton{
 justify-content: left;
 margin-top: 16px;
 margin-bottom: 16px;
}
.headertitle{
 justify-content: left;
 font-size: 24px;
 margin-top: 4px;
}
.headersubtitle{
 justify-content: left;
 font-size: 16px;
 margin-top: 8px;
}
.headerfortschritttext {
  font-size: 16px;
  margin-left: 10px;
}
.headericons {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.headericon {
  font-size: 16px;
  color: #DEDEDE;
}
.headericonfilled {
  font-size: 16px;
  color: #0078D7;
}
.headerhr{
  width: 20px;
  border-bottom: 1px solid #DEDEDE;
  display: inline;
}
.headerhrfilled{
  width: 20px;
  border-bottom: 1px solid #0078D7;
  display: inline;
}

